/* Colors */
$slate-gray: #7c8993;
$river-bed: #424a55;
$lochmara: #017fd5;
$lochmara-2: #015fd5;
$lochmara-3: #0b80ce;
$gallery: #ececec;
$gallery-2: #f0f0f0;
$white: #fff;
$malachite: #12d16f;
$iron: #ced0d4;
$gray-chateau: #9ba5ac;
$porcelain: #eff1f2;

/* Color Variations */
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);

$font-family-montserrat: "Montserrat", sans-serif;
