{% extends "@conference/views/views-view-fields--vw-conferences.html.twig" %}

{% block other_content %}
	<div class="conf-carousel__featured">
		<img src="/{{ directory }}/images/star.png" alt="star" class="conf-carousel__featured-star"/>
	</div>
{% endblock %}
